@use "../global" as *;

.p-blog-mv__bg-image {
  background: url(../img/blog/archive/pc/blog-archive-pc-01.webp) no-repeat
    center center / cover;
}

.p-blog {
  margin-block-start: rclamp(68, 90, 375, 1280);
}

.p-blog__container {
  padding-inline: rem(20);
  margin-inline: auto;
  max-inline-size: 500px;
  @include mq(md) {
    display: grid;
    grid-template-columns: 1fr 300px;
    max-inline-size: 1040px;
    gap: 30px;
  }
}

.p-blog__image {

  


}

.p-blog__cards {
  
  @include mq(md) {
    padding-inline: 0;
  }
}

.p-blog__card {
  @include mq(md) {
    gap: 0;
  }
}
.p-blog__content {
  @include mq(md) {
    margin-block-start: 0;
    padding: 14px 0 14px 20px;
  }
}

.p-blog__label {
  margin-block-start: 4px;
  @include mq(md) {
    margin-block-start: 0;
  }
}

.p-blog__text {
  margin-block-start: 7px;
  @include mq(md) {
    margin-block-start: 12px;
    padding-inline-end: 0;
    font-size: 16px;
  }
}

.p-blog__datetime {
  margin-block-start: 10px;
  @include mq(md) {
    display: inline-block;
    margin-block-start: 14px;
  }
}
