@use '../global' as *;

.p-archive-news-mv__bg-image {
    background: url(../img/blog/archive/pc/blog-archive-pc-02.webp) no-repeat center center / cover;

    @include mq(md) {
      background: url(../img/blog/archive/pc/blog-archive-pc-01.webp) no-repeat
        center center / cover;
    }
}

.p-archive-news-pagination-container {
    margin-block-start: rclamp(58, 100, 375, 1280);

}

.p-archive-news-blog__datetime {
    margin-block-start: 40px;
}

.p-archive-news-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.p-archive-news-sidebar__heading {
    border-bottom: none;
}

.p-archive-news-sidebar__reticle-cards {
    gap: 22px;
}

.p-archive-news-sidebar__category {
    margin-block-start: 58px;
}