@use "../global" as *;
.p-about__medical {
}

.p-about-medical__inner {
}

.p-about-medical-headnig {
}

.p-about-medical__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rclamp(11, 24, 375, 1280);
  padding-block-start: rclamp(40, 60, 375, 1280);

  @include mq(md) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(rclamp(162, 317, 375, 1280), max-content)
    );
  }
}

.p-about-medical__card {
}

.p-about-medical__image {
  //   inline-size: rclamp(162, 317, 375, 1280);
}
