@use "../global" as *;

.p-index-recommend {
  margin-block-start: rclamp(98, 76, 375, 1280);
}

.p-index-recommend__inner {
  padding-inline: rclamp(47, 60, 375, 1280);
  margin-inline: auto;
  width: min(100%, rem(1920));
}

.p-index-recommend__heading-content {
}

.p-index-recommend__heading {
  // text-align: center;
}

.p-index-recommend__heading-title {
  inline-size: 100%;
  font-size: rclamp(20, 28, 375, 1280);
  font-weight: 700;
  letter-spacing: rclamp(1.16, 2.24, 375, 1280);
}

.p-index-recommend__items {
  margin-block-start: rclamp(40, 60, 375, 1280);
  display: grid;
  gap: rclamp(60, 66, 375, 1280);
  place-items: center;
  justify-content: center;
  align-items: flex-start;

  @include mq(md) {
    // grid-template-columns: repeat(auto-fit, minmax(rem(276), 1fr));
  }
  @include mq(lg) {
    display: flex;
  }
}

.p-index-recommend__item:first-of-type img:first-of-type {
  inline-size: rem(177);
}

.p-index-recommend__item {
  inline-size: rclamp(276, 400, 1280, 1920);
  display: grid;
  place-items: center;
  align-self: start;

  img {
    inline-size: 100%;
    height: auto;
  }

  img:first-of-type {
    inline-size: rem(182);
    height: auto;
    margin-block-end: rclamp(12, 15, 375, 1280);
  }
}

.p-index-recommend__text {
  inline-size: 100%;
  margin-block-start: rclamp(22, 19, 375, 1280);
  text-align: left;
  font-size: rem(14);
  font-weight: 500;
  line-height: rem(24); /* 171.429% */
}

.p-index-recommend__text__accent {
  color: #ee5a6d;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
