@use "../global" as *;

.p-index-blog {
  margin-block-start: rclamp(36, 86, 375, 1280);
}

.p-index-blog__container {
  margin-block-start: rclamp(48, 78, 375, 1280);
  max-inline-size: rem(600);
  margin-inline: auto;
  @include mq(md) {
    max-inline-size: rem(1040);
  }
}

.p-index-blog__cards {
  @include mq(md) {
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    place-content: center; // ← これで中央寄せ！
    column-gap: rclamp(22, 50, 768, 1280);
    row-gap: rclamp(22, 58, 768, 1280);
    margin-inline: auto;
    inline-size: 100%;
  }
}

.p-index-blog__card {
  @include mq(md) {
    gap: 0;
    grid-template-columns: 1fr;
    inline-size: rclamp(240, 300, 375, 1280);
    border-radius: rem(20);
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  }
}
.p-index-blog__image {
  @include mq(md) {
    block-size: rem(188);
  }
}

.p-index-blog__label {
  @include mq(md) {
    position: absolute;
    border-radius: rem(14);
    margin-block-start: rem(-40);
    padding: 6.24px 12px 5.76px 12px;
  }
}

.p-index-blog__text {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */

  @include mq(md) {
    margin-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3; // ← ここで行数指定
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
}

.p-index-blog__datetime {
  display: block;
  margin-top: 8px;
}