@use "../global" as *;

.p-index-medical {
  margin-block-start: rclamp(214, 335, 375, 1280);
  position: relative;
  padding-block-start: rclamp(29, 104, 375, 1280);
  margin-inline: auto;
  background: #dff1fd;
  z-index: 1;
  padding-block-end: rclamp(62, 83, 375, 1280);
}

.p-index-medical__heading {
}

.p-index-medical__heading-title {
  line-height: rclamp(1.4, 1.2, 375, 1280);
}

.p-index-medical__container {
  inline-size: min(rem(1000), 100%);
  margin-inline: auto;
  padding-inline: rem(20);
}

.p-index-medical__services {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: rem(40);
  margin-inline: auto;
  gap: rclamp(20, 80, 375, 1280);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-index-medical__service {
  inline-size: 100%;
  block-size: rclamp(210, 290, 375, 1280);
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: rem(20);

  &:hover::before {
    transform: scale(1.1);
  }

  &:hover::after {
    background: rgba(0, 0, 0, 0.4);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    border-radius: rem(20);
    transform: scale(1);
    transition: transform 0.3s ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    transition: 0.4s ease-out;
  }
}

.p-index-medical--service1 {
  &::before {
    background: url(../img/medical-image1.png) no-repeat center 40% / cover;
  }
}

.p-index-medical--service2 {
  &::before {
    background: url(../img/medical__bg-image2.webp) no-repeat center 10% / cover;
  }
}

.p-index-medical__service-link-line {
  position: absolute;
  display: grid;
  place-items: center;
  inset: rem(10);
  border-radius: rem(20);
  z-index: 1;
  border: 3px solid transparent;
  transition: border-color 0.3s ease-out;

  &:hover {
    border-color: #fff;
  }
}

.p-index-medical__link-container {
  text-align: center;
  z-index: 2;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.p-index-medical__service-title {
  font-size: rclamp(20, 28, 375, 1280);
  padding-bottom: 42px;
  position: relative;
  color: #fff;
  font-weight: 700;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    background: #fff;
    border-radius: rem(20);
    bottom: 16px;
    height: 2px;
    width: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.p-index-medical__service-description {
  color: $btn-secondary;
  font-size: rclamp(12, 16, 375, 1280);
  font-weight: 700;
  letter-spacing: rclamp(0.96, 1.28, 375, 1280);
  margin-block-start: rem(20);
}

.p-index-medical__text {
  inline-size: 100%;
  margin-inline: auto;
  background: $btn-secondary;
  color: $text-primary;
  font-size: rem(14);
  font-weight: 500;
  line-height: rclamp(24, 28, 375, 1280); /* 171.429% */
  margin-block-start: rclamp(20, 60, 375, 1280);
  padding-block-start: rclamp(18, 36, 375, 1280);
  padding-inline: rclamp(20, 40, 375, 1280);
  padding-block-end: rclamp(17, 35, 375, 1280);
}
.p-index-medical-text__accent--medical {
  line-height: rclamp(24, 28, 375, 1280);
}
