@use "../global" as *;

.p-medical-specialized {
}

.c-medical__bg-top {
}

.c-medical__bg-bottom {
}

.p-index-medical__heading {
}

.c-heading {
}

.p-medical-specialized__items {
}

.p-medical-specialized__item {
}

.p-medical-specialized__heading {
}

.p-medical-specialized__main {
  font-size: rclamp(20, 28, 375, 1280);
  font-weight: 700;
  letter-spacing: rclamp(1.6, 2.24, 375, 1280);
}

.p-medical-specialized__sub {
  color: #1391e6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
}

.p-medical-specialized__content {
}

.p-medical-specialized__text {
}

.medical-specialized__text--main {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.medical-specialized__text--sub {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.p-medical-specialized__image {
}
