@use "../global" as *;

.p-medical-detail {
  margin-block-start: 215px;
}

.p-medical-detail__inner {
}

.p-medical-detail__container {
}

.p-medical-general {
  position: relative;
  padding-inline: 20px;
  background-color: #dff1fd;
  z-index: -2;
  padding-bottom: 100px;
}

.c-medical__bg-top {
}

.c-medical__bg-bottom {
}

.p-index-medical__heading {
}

.c-heading {
}

.p-medical-general__items {
  padding-block-start: 40px;
}

.p-medical-general__item {
  padding: 30px 20px 20px;
  border-radius: 20px;
  background-color: #fff;
}

.p-medical-general__heading {
  padding-bottom: 20px;
  border-bottom: 1px solid #c2c2c2;
}

.p-medical-general__main {
  font-size: rclamp(20, 28, 375, 1280);
  font-weight: 700;
  line-height: rclamp(1.4, 1.5, 375, 1280); /* 140% */
  letter-spacing: rclamp(1.6, 2.24, 375, 1280);
}

.p-medical-general__sub {
  margin-block-start: 28px;
  color: #1391e6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
}

.p-medical-general__content {
}

.p-medical-general__text {
  margin-block-start: 16px;
}

.medical-general__text--main {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.medical-general__text--sub {
  margin-block-start: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.p-medical-general__image {
  margin-block-start: 16px;
}

.p-medical-deneral__heading {
}
