@use "../global" as *;

.p-staff-message__swiper {
  margin-block-start: rclamp(50, 82, 375, 1280);
}

.p-staff-message__swiper-inner {
  // position: relative;
  overflow: hidden;
}

.p-staff-message__swiper-container {
  position: relative;
  max-inline-size: 1920px;
  margin-inline: auto;
}

.swiper {
  
}

.--swiper2 {
}

.swiper-wrapper {
}

.p-staff-message__swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
}

.p-staff-message__swiper-slide {
  @include mq(md) {
  }

  img {
    // width: 100%;
    // height: 100%;
  }
}

.p-staff-message__swiper-bottom {
}

.swiper-button-prev {
}

.swiper-pagination {
}

.swiper-button-next {
}
