// テキストカラー
$text-primary: #393939; // 通常のテキスト
$text-light: #ffffff; // 明るい背景でのテキスト
$text-link: #1391e6; // リンク・強調テキスト
$text-sub: #888888; // サブテキスト

// 背景カラー
$bg-primary: #ffffff; // メイン背景
$bg-secondary: #dff1fd; // サブ背景

// ボタン/UIカラー
$btn-primary: #1391e6; // 主要ボタン
$btn-primary-hover: #ee5a6d; // 主要ボタンのホバー時
$btn-secondary: #ffffff; // サブボタン
$btn-secondary-hover: #dff1fd; // サブボタンのホバー時

// ボーダーカラー
$border-primary: #cccccc; // 基本的なボーダー
$border-primary-hover: #b3b3b3; // 基本的なボーダーのホバー時
$border-secondary: #e0e0e0; // サブボーダー（薄め）
$border-secondary-hover: #d0d0d0; // サブボーダーのホバー時

// ホバー時のカラー設定
$hover-white: #ffffff; // ホワイト系ホバー
$hover-light: #1391e6; // ライト系ホバー
$hover-accent: #0060a0; // アクセントホバー

// フォント
$font-main: "M PLUS Rounded 1c", sans-serif; // 本文用フォント

//Inner幅
$viewport-inner: 1000;
$horizontal-spacing-sp: 20;
