@use "../global" as *;

.p-index-recommend {
  margin-block-start: rclamp(96, 117, 375, 1280);
}

.p-index-recommend__inner {
  padding-inline: rclamp(47, 60, 375, 1280);
  margin-inline: auto;
  width: min(100%, rem(1920));
}

.p-index-recommend__heading-content {
}

.p-index-recommend__heading {
  // text-align: center;
}

.p-index-recommend__heading-title {
  inline-size: 100%;
  font-size: rclamp(20, 28, 375, 1280);
  font-weight: 700;
  letter-spacing: rclamp(1.16, 2.24, 375, 1280);
}

.p-index-recommend__items {
  margin-block-start: rclamp(39, 60, 375, 1280);
  display: grid;
  gap: rclamp(50, 50, 375, 1280);
  place-items: center;
  justify-content: center;
  align-items: flex-start;

  @include mq(md) {
    // grid-template-columns: repeat(auto-fit, minmax(rem(276), 1fr));
  }
  @include mq(lg) {
    display: flex;
  }
}

.p-index-recommend__item:first-of-type img:first-of-type {
  inline-size: rem(177);
}

.p-index-recommend__item {
  inline-size: rclamp(271, 400, 1280, 1920);
  display: grid;
  place-items: center;

  img {
    inline-size: 100%;
    height: auto;
  }

  img:first-of-type {
    inline-size: rem(182);
    height: auto;
    margin-block-end: rclamp(12, 15, 375, 1280);
  }
}

.p-index-recommend__text {
  inline-size: 100%;
  margin-block-start: rclamp(20, 19, 375, 1280);
  text-align: left;
  font-size: rem(14);
  font-weight: 500;
  line-height: rem(24); /* 171.429% */
}

.text__accent {
  color: #ee5a6d;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.p-index-medical {
  margin-block-start: rclamp(214, 335, 375, 1280);
  position: relative;
  padding-block-start: rclamp(29, 104, 375, 1280);
  margin-inline: auto;
  background: #dff1fd;
  z-index: 1;
  padding-block-end: rclamp(62, 83, 375, 1280);
}

.c-medical__bg-top {
  position: absolute;
  z-index: -1;
  inset-block-start: rclamp(-85, -201, 375, 1280);
  inset-inline: 0;
  block-size: rclamp(85, 201, 375, 1280);

  img {
    width: 100%;
    block-size: 100%;
  }
}

.c-medical__bg-bottom {
  position: absolute;
  z-index: -1;
  inset-inline: 0;
  // inset-block-end: -28px;
  inset-block-end: rclamp(-28, -97, 375, 1280);
  block-size: rclamp(28, 97, 375, 1280);
  // block-size: 28px;
  @include mq(md) {
    // inset-block-end: -97px;
    // block-size: 97px;
  }

  img {
    inline-size: 100%;
    block-size: 100%;
  }
  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    background: url(../img/deco-kirakira2-w.png) no-repeat center center / cover;
    // inset-inline-start: 6px;
    inset-inline-start: rclamp(6, 40, 375, 1280);
    inset-block-start: rclamp(-40, -56, 375, 1280);
    // inset-block-start: -40px;
    inline-size: rclamp(24, 57, 375, 1280);
    block-size: rclamp(25, 56, 375, 1280);
    // inline-size: 24px;
    // block-size: 25px;
    @include mq(md) {
      // inline-size: 57px;
      // block-size: 56px;
      // inset-inline-start: 40px;
      // inset-block-start: -56px;
    }
  }
  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    background: url(../img/deco-kirakira-w.png) no-repeat center center / cover;
    // inline-size: 56px;
    // block-size: 60px;
    // inset-inline-end: 0px;
    // inset-block-start: -60px;
    inline-size: rclamp(56, 125, 375, 1280);
    block-size: rclamp(60, 138, 375, 1280);
    inset-inline-end: rclamp(0, 25, 375, 1280);
    inset-block-start: rclamp(-60, -138, 375, 1280);

    @include mq(md) {
      // inline-size: 125px;
      // block-size: 138px;
      // inset-inline-end: 25px;
      // inset-block-start: -138px;
    }
  }
}

.p-index-medical__heading {
}

.p-index-medical__heading-title {
  line-height: rclamp(1.4, 1.2, 375, 1280);
}

.p-index-medical__container {
  inline-size: min(rem(1000), 100%);
  margin-inline: auto;
  padding-inline: rem(20);
}

.p-index-medical__services {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: rem(40);
  margin-inline: auto;
  gap: rclamp(20, 80, 375, 1280);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-index-medical__service {
  inline-size: 100%;
  block-size: rclamp(210, 290, 375, 1280);
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: rem(20);

  &:hover::before {
    transform: scale(1.1);
  }

  &:hover::after {
    background: rgba(0, 0, 0, 0.4);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    border-radius: rem(20);
    transform: scale(1);
    transition: transform 0.3s ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    transition: 0.4s ease-out;
  }
}

.p-index-medical--service1 {
  &::before {
    background: url(../img/medical-image1.png) no-repeat center 40% / cover;
  }
}

.p-index-medical--service2 {
  &::before {
    background: url(../img/medical__bg-image2.webp) no-repeat center 10% / cover;
  }
}

.p-index-medical__service-link-line {
  position: absolute;
  display: grid;
  place-items: center;
  inset: rem(10);
  border-radius: rem(20);
  z-index: 1;
  border: 3px solid transparent;
  transition: border-color 0.3s ease-out;

  &:hover {
    border-color: #fff;
  }
}

.p-index-medical__link-container {
  text-align: center;
  z-index: 2;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.p-index-medical__service-title {
  font-size: rclamp(20, 28, 375, 1280);
  padding-bottom: 42px;
  position: relative;
  color: #fff;
  font-weight: 700;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    background: #fff;
    border-radius: rem(20);
    bottom: 16px;
    height: 2px;
    width: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.p-index-medical__service-description {
  color: $btn-secondary;
  font-size: rclamp(12, 16, 375, 1280);
  font-weight: 700;
  letter-spacing: rclamp(0.96, 1.28, 375, 1280);
  margin-block-start: rem(20);
}

.p-index-medical__text {
  inline-size: 100%;
  margin-inline: auto;
  background: $btn-secondary;
  color: $text-primary;
  font-size: rem(14);
  font-weight: 500;
  line-height: rclamp(24, 28, 375, 1280); /* 171.429% */
  margin-block-start: rclamp(20, 60, 375, 1280);
  padding-block-start: rclamp(18, 36, 375, 1280);
  padding-inline: rclamp(20, 40, 375, 1280);
  padding-block-end: rclamp(17, 35, 375, 1280);
}
.p-index-medical-text__accent--medical {
  line-height: rclamp(24, 28, 375, 1280);
}

.c-blog {
  margin-block-start: rclamp(128, 158, 375, 1280);
}

.c-blog__heading {
}

.heading {
}

.c-blog__container {
  margin-block-start: rclamp(48, 80, 375, 1280);
  max-inline-size: rem(600);
  margin-inline: auto;
  @include mq(md) {
    max-inline-size: rem(1040);
  }
}

.c-blog__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-inline: rem(20);

  @include mq(md) {
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    place-content: center; // ← これで中央寄せ！
    gap: rclamp(20, 50, 768, 1280);
    margin-inline: auto;
    inline-size: 100%;
  }
}

.c-blog__card {
  display: grid;
  gap: 10px;
  grid-template-columns: rclamp(133, 240, 375, 768) 1fr;
  transition: all 0.3s ease;
  position: relative;

  @include mq(md) {
    gap: 0;
    grid-template-columns: 1fr;
    inline-size: rclamp(240, 300, 375, 1280);
    border-radius: rem(20);
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  }

  &:hover {
    .c-blog__image img {
      transform: scale(1.1);
    }

    .c-blog__text {
      color: $text-link;
    }
  }
}

.c-blog__image {
  block-size: rem(100);
  object-fit: cover;
  overflow: hidden;
  @include mq(md) {
    block-size: rem(188);
  }

  img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
}

.c-blog__content {
  // display: grid;
  // grid-template-columns: 1fr;
  margin-block-start: rem(6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(6);
  @include mq(md) {
    justify-content: start;
    padding: 24px 24px 12px 24px;
    gap: rem(4);
  }
}

.c-blog__label {
  display: inline-block;
  padding: rem(1) rem(8) rem(1);
  inline-size: fit-content;
  color: #fff;
  font-size: rclamp(10, 11, 375, 1280);
  font-weight: 500;
  border-radius: rem(10);
  background: #1391e6;

  @include mq(md) {
    position: absolute;
    border-radius: rem(14);
    margin-block-start: rem(-40);
    padding: 6.24px 12px 5.76px 12px;
  }
}

.c-blog__text {
  color: $text-primary;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding-inline-end: 8px;

  @include mq(md) {
  }
}

.c-blog__datetime {
  color: #888;
  font-size: 11px;
  font-weight: 500;
}

.c-blog__link {
  margin-block-start: rclamp(40, 60, 375, 1280);
  display: flex;
  justify-content: center;
}

.c-blog__button {
  //親もdisplay: flex;
  //htmlでpathの色削除
  gap: rem(16);
  padding-block-start: rclamp(8, 11, 375, 1280);
  padding-inline-end: rem(12);
  padding-block-end: rclamp(10, 11, 375, 1280);
  padding-inline-start: rclamp(40, 46, 375, 1280);
  color: #1391e6; //svgの色
  transition: all 0.3s ease;

  svg {
    inline-size: rem(12);
    block-size: rem(12);
    transition: 0.3s ease;

    path {
      stroke: currentColor;
      // fill: currentColor;
      transition: stroke 0.3s ease;
    }
  }

  &:hover {
    background-color: #1391e6;
    color: #fff;
    border-color: #1391e6;

    svg {
      transform: translateX(rem(4));
    }
  }
}
