@charset "UTF-8";
/* ============================
   ✅ シンプルなリセットCSS
   ============================ */
/* すべての要素に対してボックスサイズとマージン・パディングをリセット */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 見出しタグのデフォルトのマージンやフォントのリセット */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

/* リストのデフォルトスタイルのリセット */
ul, ol {
  list-style: none;
}

/* 画像のリセット */
img {
  max-width: 100%;
  height: auto;
}

/* リンクのデフォルトスタイルのリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* フォーム要素のリセット */
input,
select,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

/* フォーカス時のアウトラインのリセット */
:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #393939;
  background-color: #FFF;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
}

.header__inner {
  padding: 0;
}

.header__nav {
  display: none;
}

.drawer-icon {
  position: fixed;
  z-index: 102;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drawer-icon__bar {
  width: 100%;
  height: 1px;
  background: #fff;
}

.drawer-icon.js-show .drawer-icon__bar:nth-of-type(1) {
  rotate: 45deg;
  translate: 0 7.5px;
}
.drawer-icon.js-show .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.js-show .drawer-icon__bar:nth-of-type(3) {
  rotate: -45deg;
  translate: 0 -7.5px;
}

.drawer {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  height: 100svh;
  background: #fff;
  overflow-y: scroll;
}

.drawer__content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-block: 0;
  padding-left: 0;
}

.drawer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0;
  margin-bottom: 0;
}

.drawer__toggle-button {
  display: inline-block;
  padding: 0;
  background: #fff;
  border-radius: 100vmax;
}