@use "../global" as *;

// ヘッダー ========================
.l-header {
  position: fixed;
  z-index: 100;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: rclamp(60, 80, 375, 1280);
  background: $bg-primary;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.l-header__inner {
  // display: grid;
  // grid-template-columns: 100px 1fr;
  padding-inline-start: rclamp(20, 40, 375, 1280);
  padding-inline-end: rclamp(17, 40, 375, 1280);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-header__logo {
  padding-block: rclamp(15, 20, 375, 1280);
}

.l-header__logo-link {
  inline-size: rem(270);
}

.l-header__nav {
  // spの場合非表示
  display: none;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    display: flex;
  }
}

.l-header__nav-list {
  display: flex;
  gap: rclamp(12, 24, 768, 1280);
  padding-block: rclamp(12, 18, 375, 1280);

  @include mq(xl) {
  }
}

.l-header__nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; // 下線のために必要
  transition: all 0.3s ease;
  color: inherit;
  padding-block: 3px;
  text-align: center; // アイコンを中央に配置

  &::after {
    content: "";
    position: absolute;
    bottom: -5px; // アイコンの下に表示
    left: 50%;
    translate: -50%;
    width: 20px; // アイコンと同じ幅
    height: 3px;
    background-color: currentColor; // テキストと同じ色
    transform: scaleX(0); // 初期状態では非表示
    transform-origin: center;
    transition: transform 0.3s ease; // アニメーション
  }

  // ホバー時
  &:hover {
    color: $text-link; // ホバー時の色変更（リンク自体の色）

    svg {
      path {
        fill: currentColor; // svgのpath色も親要素の色を継承
      }
    }

    &::after {
      transform: scaleX(1); // 下線を表示
    }
  }

  // アクティブ状態でも下線を表示
  &.is-active {
    color: $text-link; // アクティブなリンクの色変更（リンク自体の色）

    svg {
      path {
        fill: currentColor; // svgのpath色も親要素の色を継承
      }
    }

    &::after {
      transform: scaleX(1); // アクティブ時も下線表示
    }
  }
}

.l-header__nav-item-text {
  text-align: center;
  font-size: rem(11);
  font-weight: 700;
  line-height: rem(18); /* 163.636% */
  color: inherit;
  transition: transform 0.3s ease-in-out; // ✅ スムーズな変化
  @include mq(lg) {
    margin-block-start: 2px;
  }
}

.l-header__suv-list {
  display: none;
  @include mq(xl) {
    display: block;
    margin-inline-start: rem(32);
    padding-block: rem(9);
  }
}

.l-header__suv-item-text {
  color: #393939;
  font-size: rem(12);
  font-weight: 500;
  text-align: right;
}

.l-header__suv-list {
}

.l-header__suv-item-text {
}

.l-header__suv-item {
  display: flex;
  gap: rem(6);
  color: #1391e6;
  text-align: center;
  font-size: rem(32);
  font-weight: 700;
  letter-spacing: -0.64px;
}

.l-header__suv-item-icon {
}

.l-header__btn {
  transition: all 0.3s ease;

  @media (any-hover: hover) {
    &:hover {
    }
  }
}
