@use "../global" as *;

.l-breadcrumbs {
  margin-block-start: 6px;
}

.l-breadcrumb__list {
  display: flex;
  flex-wrap: wrap; // ← 長い場合に折り返し
  list-style: none; // ← 黒ポチ消す
}

.l-breadcrumb__item {
  &:not(:last-child)::after {
    content: "＞";
    margin: 0 0.4em;
    color: $text-primary;
    font-size: 0.8em;

    @include mq(md) {
      margin: 0 0.3em
    }
  }
}

.l-breadcrumb__link {
  color: #c2c2c2;
  font-size: 12px;
  font-weight: 500;
}

.l-breadcrumb__current {
  color: $text-primary;
  font-size: 12px;
  font-weight: 500;
}
