@use "../global" as *;

.l-breadcrumbs {
  margin-block-start: 6px;
}

.l-breadcrumb__item {
  min-width: 0;

  &:not(:last-child)::after {
    content: "＞";
    margin: 0 0.4em;
    color: $text-primary;
    font-size: 0.8em;

    @include mq(md) {
      margin: 0 0.3em
    }
  }
}

.l-breadcrumb__item:empty::after {
  display: none;
  content: "";
}


.l-breadcrumb__link {
  color: #c2c2c2;
  font-size: 12px;
  font-weight: 500;
  overflow-wrap: break-word;
  white-space: normal;        // 折り返しを許可
  word-break: break-all;
}

.l-breadcrumb__current {
  color: $text-primary;
  font-size: 12px;
  font-weight: 500;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

