@use "../global" as *;

.c-blog {
}

.c-blog__heading {
}

.heading {
}

.c-blog__container {
 
}

.c-blog__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;
  @include mq(md) {
    gap: 20px;
  }
}

.c-blog__card {
  gap: 10px;
  display: grid;
  grid-template-columns: 133px 1fr;
  transition: all 0.3s ease;
  position: relative;

  @include mq(md) {
    grid-template-columns: 244px 1fr;
  }

  &:hover {
    .c-blog__image img {
      transform: scale(1.1);
    }

    .c-blog__text {
      color: $text-link;
    }
  }

}
.c-blog__image {
  overflow: hidden;
  inline-size: 133px;
  @include mq(md) {
    inline-size: 244px;
    aspect-ratio: 244 / 153;
  }
  img {
    inline-size: 100%;
    block-size: 100%;
    aspect-ratio:  133 / 100;
    object-fit: cover;
    object-position: center 20%;
    transition: all 0.3s ease;

    @include mq(md) {
      aspect-ratio: 244 / 153;
    }
  }
}

.c-blog__card-new-badge {
  position: absolute;
  z-index: 10;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
}

.c-blog__content {
  // display: grid;
  // grid-template-columns: 1fr;
  // margin-block-start: rem(6);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  gap: rem(6);
  @include mq(md) {
    justify-content: start;
    padding: 22px 24px 8px 24px;
    gap: rem(4);
  }
}

.c-blog__label {
  display: inline-block;
  padding: rem(2) rem(8) rem(1);
  inline-size: fit-content;
  color: #fff;
  font-size: rclamp(10, 11, 375, 1280);
  font-weight: 500;
  border-radius: rem(10);
  background: #1391e6;

  @include mq(md) {
    border-radius: rem(12);
    padding: 6px 12px;
  }
}

.c-blog__text {
  color: $text-primary;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding-inline-end: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2; // ← ここで行数指定
  -webkit-box-orient: vertical;
  overflow: hidden;

  @include mq(md) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */  }
}

.c-blog__datetime {
  color: #888;
  font-size: 11px;
  font-weight: 500;

  @include mq(md) {
    font-size: 12px;
  }
}

.c-blog__link {
  margin-block-start: rclamp(44, 60, 375, 1280);
  display: flex;
  justify-content: center;
}

.c-blog__button {
  //親もdisplay: flex;
  //htmlでpathの色削除
  gap: rem(16);
  padding-block-start: rclamp(8, 11, 375, 1280);
  padding-inline-end: rem(12);
  padding-block-end: rclamp(10, 11, 375, 1280);
  padding-inline-start: rclamp(40, 46, 375, 1280);
  color: #1391e6; //svgの色
  transition: all 0.3s ease;

  svg {
    inline-size: rem(12);
    block-size: rem(12);
    transition: 0.3s ease;

    path {
      stroke: currentColor;
      // fill: currentColor;
      transition: stroke 0.3s ease;
    }
  }

  &:hover {
    background-color: #1391e6;
    color: #fff;
    border-color: #1391e6;

    svg {
      transform: translateX(rem(4));
    }
  }
}
