@use "../global" as *;

.c-blog {
  margin-block-start: rclamp(128, 158, 375, 1280);
}

.c-blog__heading {
}

.heading {
}

.c-blog__container {
  margin-block-start: rclamp(48, 80, 375, 1280);
  max-inline-size: rem(600);
  margin-inline: auto;
  @include mq(md) {
    max-inline-size: rem(1040);
  }
}

.c-blog__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-inline: rem(20);
}

.c-blog__card {
  display: grid;
  gap: 10px;
  grid-template-columns: rclamp(133, 240, 375, 768) 1fr;
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    .c-blog__image img {
      transform: scale(1.1);
    }

    .c-blog__text {
      color: $text-link;
    }
  }
}

.c-blog__image {
  block-size: rem(100);
  object-fit: cover;
  overflow: hidden;
  // @include mq(md) {
  //   block-size: rem(188);
  // }

  img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
}

.c-blog__card-new-badge {
}

.c-blog__content {
  // display: grid;
  // grid-template-columns: 1fr;
  margin-block-start: rem(6);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  gap: rem(6);
  @include mq(md) {
    justify-content: start;
    padding: 24px 24px 12px 24px;
    gap: rem(4);
  }
}

.c-blog__label {
  display: inline-block;
  padding: rem(1) rem(8) rem(1);
  inline-size: fit-content;
  color: #fff;
  font-size: rclamp(10, 11, 375, 1280);
  font-weight: 500;
  border-radius: rem(10);
  background: #1391e6;

  // @include mq(md) {
  //   position: absolute;
  //   border-radius: rem(14);
  //   margin-block-start: rem(-40);
  //   padding: 6.24px 12px 5.76px 12px;
  // }
}

.c-blog__text {
  color: $text-primary;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding-inline-end: 8px;

  @include mq(md) {
  }
}

.c-blog__datetime {
  color: #888;
  font-size: 11px;
  font-weight: 500;
}

.c-blog__link {
  margin-block-start: rclamp(40, 60, 375, 1280);
  display: flex;
  justify-content: center;
}

.c-blog__button {
  //親もdisplay: flex;
  //htmlでpathの色削除
  gap: rem(16);
  padding-block-start: rclamp(8, 11, 375, 1280);
  padding-inline-end: rem(12);
  padding-block-end: rclamp(10, 11, 375, 1280);
  padding-inline-start: rclamp(40, 46, 375, 1280);
  color: #1391e6; //svgの色
  transition: all 0.3s ease;

  svg {
    inline-size: rem(12);
    block-size: rem(12);
    transition: 0.3s ease;

    path {
      stroke: currentColor;
      // fill: currentColor;
      transition: stroke 0.3s ease;
    }
  }

  &:hover {
    background-color: #1391e6;
    color: #fff;
    border-color: #1391e6;

    svg {
      transform: translateX(rem(4));
    }
  }
}
