@use "../global" as *;

.c-concept {
  position: relative;
  margin-block-start: rclamp(65, 60, 375, 1280);
  overflow: hidden;

  @include mq(lg) {
    margin-block-start: 0;
    padding-block-start: rem(40);
    padding-block-end: rem(150);
    display: grid;
    grid-template-columns: calc(640 / 1280 * 100%) calc(407 / 1280 * 100%);
    grid-auto-flow: row-reverse;
    gap: rem(90);
  }
}

.c-concept__content {
  padding-inline: rem(20);
  padding-block-start: rclamp(106, 180, 375, 1280);

  @include mq(lg) {
    padding-inline: 0;
    order: 2;
    align-self: center;
  }
}

.c-concept__heading-group {
}

.c-concept__subheading {
  color: $text-link;
  font-size: rclamp(11, 14, 375, 1280);
  font-weight: 700;
  letter-spacing: rclamp(1.1, 1.4, 375, 1280);

  @include mq(lg) {
    font-size: rclamp(14, 28, 1280, 1920);
  }
}

.c-concept__heading {
  margin-block-start: rclamp(14, 24, 375, 1280);
  font-size: rem(20);
  font-weight: 700;
  line-height: rclamp(32, 44, 375, 1280); /* 160% */
  letter-spacing: rclamp(1.6, 2.24, 375, 1280);

  @include mq(lg) {
    font-size: rclamp(24, 40, 1280, 1920);
  }
}

.c-concept__text {
  margin-block-start: rclamp(27, 36, 375, 1280);
  color: #393939;
  font-size: rem(14);
  font-weight: 500;
  line-height: rem(24); /* 171.429% */

  @include mq(lg) {
    font-size: rclamp(14, 28, 1280, 1920);
    line-height: 1.5;
  }
}

.c-concept__link {
  margin-block-start: rem(37);
  display: flex;
  justify-content: center;
  @include mq(lg) {
    justify-content: start;
  }
}

.c-concept__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: rem(22);
  inline-size: fit-content;
  padding-inline: rclamp(40, 46, 375, 1280);
  color: $text-link;
  background: $text-light;

  svg {
    margin-inline-end: rem(-20);
    stroke: currentColor;
    transition: all 0.3s ease;

    @include mq(lg) {
    }
  }

  @media (any-hover: hover) {
    &:hover {
      color: $text-light;
      background: $text-link;

      svg {
        transform: translateX(10px);
      }
    }
  }
}

.c-concept__image {
  margin-block-start: rem(40);
  inline-size: min(calc(335 / 375 * 100%), rem(770));

  @include mq(lg) {
    inline-size: 100%;
    margin-block-start: 0;
  }

  img {
    border-radius: 0px 20px 20px 0px;
    background: url(<path-to-image>) lightgray 361.924px -30.529px / -116.721%
      112.999% no-repeat;

    @include mq(lg) {
      margin-block-start: rem(180);
      block-size: rem(438);
      object-fit: cover;
    }
  }
}

.c-concept__bg-image {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: -1;
  padding-inline-start: rem(10);
  min-inline-size: rem(554);
  img {
    width: 100%;
    height: auto;
  }

  @include mq(lg) {
    inset-inline-start: 30%;
    inset-block-start: rclamp(50, 0, 1280, 2560);
    min-inline-size: rem(1280);
  }
}
