@use "../global" as *;

.c-concept {
  position: relative;
  padding-block-start: rclamp(110, 180, 375, 1280);
  margin-block-start: 60px;
  overflow: hidden;

  @include mq(lg) {
    padding-block-end: rem(150);
  }
}

.c-concept__inner {
}

.c-concept__heading-content {
}

.c-concept__container {
  @include mq(lg) {
    gap: rem(95);
    display: grid;
    grid-template-areas: "image content";
    grid-template-columns: 50% 32%;
  }
}

.c-concept--row {
  @include mq(md) {
    grid-template-areas: "content image";
    grid-template-columns: 32% 50%;
    justify-content: end;
  }
}

.c-concept__content {
  padding-inline: rem(20);

  @include mq(lg) {
    padding-inline: 0;
    align-self: center;
    grid-area: content;
  }
}

.c-concept__heading-group {
}

.c-concept__subheading {
  color: $text-link;
  font-size: rclamp(11, 14, 375, 1280);
  font-weight: 700;
  letter-spacing: rclamp(1.1, 1.4, 375, 1280);

  @include mq(lg) {
    font-size: rclamp(14, 28, 1280, 1920);
  }
}

.c-concept__heading {
  margin-block-start: rclamp(14, 24, 375, 1280);
  font-size: rem(20);
  font-weight: 700;
  line-height: rclamp(32, 44, 375, 1280); /* 160% */
  letter-spacing: rclamp(1.6, 2.24, 375, 1280);

  @include mq(lg) {
    font-size: rclamp(28, 40, 1280, 1920);
  }
}

.c-concept__text {
  margin-block-start: rclamp(27, 36, 375, 1280);
  color: #393939;
  font-size: rem(14);
  font-weight: 500;
  line-height: rem(24); /* 171.429% */

  @include mq(lg) {
    font-size: rclamp(14, 28, 1280, 1920);
  }
}

.c-concept__link {
  margin-block-start: rem(37);
  display: flex;
  justify-content: center;
  @include mq(lg) {
    justify-content: start;
  }
}

.c-concept__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: rem(18);
  inline-size: fit-content;
  padding-inline: 36px 12px;
  color: $text-link;
  background: $text-light;
  
  @include mq(lg) {
    padding-inline: 46px 12px;
 }
  svg {
    // margin-inline-end: rem(20);
    stroke: currentColor;
    transition: all 0.3s ease;

  }

  @media (any-hover: hover) {
    &:hover {
      color: $text-light;
      background: $text-link;

      svg {
        transform: translateX(10px);
      }
    }
  }
}

.c-concept__image {
  margin-block-start: rem(40);
  inline-size: min(calc(335 / 375 * 100%), rem(770));
  max-block-size: rem(438);

  @include mq(lg) {
    inline-size: 100%;
    margin-block-start: 0;
    grid-area: image;
  }

  img {
    border-radius: 0px 20px 20px 0px;
    max-block-size: rem(438);
    object-fit: cover;

    @include mq(lg) {
      block-size: rem(438);
    }
  }
}

.c-concept__image--row {
  justify-self: end;
  
  img {
    border-radius: 20px 0 0 20px;
  }
}

.c-concept__bg-image {
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: 0;
  z-index: -1;
  padding-inline-start: rem(10);
  min-inline-size: rem(554);
  img {
    width: 100%;
    height: auto;
  }

  @include mq(lg) {
    inset-inline-start: 32%;
    min-inline-size: rem(1326);
  }
}
