@use "../global" as *;

.c-medical__bg-top {
  position: relative;
  // inset-block-start: -23vw;
  block-size: 23vw;
  width: 100%;
  z-index: -1;

  @include mq(md) {
    // inset-block-start: -16vw;
    block-size: 16vw;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    inline-size: 100%;
    block-size: 100%;
    background: url(../img/bg-top-sp.png) no-repeat top center / cover;
    z-index: 1;

    @include mq(md) {
      background: url(../img/bg-top.png) no-repeat center center / cover;
    }
  }
}

.c-medical__bg-bottom-main {
  position: relative;
  height: 7.6vw;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    translate: -50%;
    background: url(../img/bg-bottom-pc1.png) no-repeat center center / cover;
    z-index: 2;
  }
}

.c-medical__bg-bottom-sub {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    z-index: 2;
    bottom: 10.6vw;
    left: 12px;
    height: 25px;
    width: 24px;
    background: url(../img/deco-kirakira2-w.png) no-repeat center center / cover;

    @include mq(md) {
      height: 58px;
      width: 58px;
      background: url(../img/deco-kirakira2-w.png) no-repeat center center / cover;
    }
  }
  &::after {
    position: absolute;
    content: "";
    z-index: 2;
    bottom: 5.8vw;
    right: 10px;
    height: 56px;
    width: 60px;
    background: url(../img/page1/blog/pc/page1-blog-pc-01.webp) no-repeat center center / cover;

    @include mq(md) {
    right: 20px;
    height: 138px;
    width: 125px;
    background: url(../img/deco-kirakira-w.png) no-repeat center center / cover;
    }
  }
}
