@use "../global" as *;

.c-pagination-container {
  margin-block-start: rclamp(60, 100, 375, 1280);
}

.c-pagination {
}

.c-pagination__list {
  display: flex;
  justify-content: center;
  gap: rclamp(7, 10, 375, 1280);
}

.c-pagination__item {
}

.c-pagination__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  padding-block: 6px;
  color: #1391e6;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #1391e6;
  transition: all 0.3s ease;

  &--current {
    background-color: #1391e6;
    color: #fff;
    pointer-events: none;
  }

  &--dots {
    color: #ccc;
    // border-color: transparent;
    pointer-events: none;
    // padding: 6px 9px;
  }


  &--prev,
  &--next {
    padding-inline: 16px 15px;
    gap: 4px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    border-radius: 4px;
    background: #1391e6;
    transition: all 0.3s ease;
    svg {
      display: inline-block;
    }
  }
  

  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background-color: #1391e6;
    }

    &--prev:hover .c-pagination__icon--prev {
      transform: translateX(-4px);
    }

    &--next:hover .c-pagination__icon--next {
      transform: translateX(4px);
    }
  }
}

.c-pagination__link--prev {
}

.c-pagination__icon {
}

.c-pagination__icon--prev {
  transition: all 0.3s ease;
}

.c-pagination__link--current {
}

.c-pagination__link--dots {
}

.c-pagination__link--next {
}

.c-pagination__icon--next {
  transition: all 0.3s ease;
}
