@use "../global" as *;

.c-sidebar {
  margin-block-start: 98px;

  @include mq(md) {
    margin-block-start: 102;
  }
}

.c-sidebar__inner {
  @include mq(md) {
    padding-inline: 0;
  }
}

.c-sidebar__container {
}

.c-sidebar__clinic {
}

.c-sidebar__heading {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #888;

  @include mq(md) {
    padding-bottom: 10px;
  }
}

.c-sidebar__heading-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
}

.c-sidebar__clinic-image {
  margin-block-start: 20px;
}

.c-sidebar__clinic-text-items {
}

.c-sidebar__clinic-subtitle {
  margin-block-start: 20px;
  font-size: 16px;
  font-weight: 700;
}

.c-sidebar__clinic-subtext {
  margin-block-start: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.c-sidebar__clinic-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 10px;
  color: #1391e6;
  font-size: 14px;
  font-weight: 500;
}

.c-sidebar__article {
  margin-block-start: 60px;
}

.c-sidebar__article-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;
  // padding-inline: rem(20);
  margin-block-start: 20px;

  @include mq(md) {
    padding-inline: 0;
  }
}

.c-sidebar__article-card {
  display: grid;
  gap: 10px;
  grid-template-columns: 133px 1fr;
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    .c-sidebar__article-image img {
      transform: scale(1.1);
    }

    .c-sidebar__article-text {
      color: $text-link;
    }
  }
}

.c-sidebar__article-image {
  width: 133px;
  aspect-ratio: 133 / 100;
  object-fit: cover;
  overflow: hidden;
  img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
}

.c-sidebar__article-content {
  margin-block-start: rem(0);
  gap: rem(6);
  @include mq(md) {
    justify-content: start;
    gap: rem(4);
    margin-block-start: 0;
  }
}

.c-sidebar__article-category {
  display: inline-block;
  padding: rem(1) rem(8) rem(1);
  inline-size: fit-content;
  color: #fff;
  font-size: rclamp(10, 11, 375, 1280);
  font-weight: 500;
  border-radius: rem(10);
  background: #1391e6;

  // @include mq(md) {
  //   position: absolute;
  //   border-radius: rem(14);
  //   margin-block-start: rem(-40);
  //   padding: 6.24px 12px 5.76px 12px;
  // }
}

.c-sidebar__article-text {
  color: $text-primary;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding-inline-end: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2; // ← ここで行数指定
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-block-start: 8px;

  @include mq(md) {
  margin-block-start: 8px;
  }
}

.c-sidebar__article-date {
  color: #888;
  font-size: 11px;
  font-weight: 500;
}

.c-sidebar__category {
  margin-block-start: 64px;

  @include mq(md) {
    margin-block-start: 60px;
  }
}

.c-sidebar__category-lists {
  margin-block-start: 18px;
  
  @include mq(md) {
    margin-block-start: 16px;
  }
}

.c-sidebar__category-list {
  margin-block-start: 12px;
  margin-inline-start: 20px;
}

.c-sidebar__category-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
}
